__pycache__/
*.pyc
*.png
initial_work/
*.out
*.err
*.log
*/figures*/
*/scripts/slurm/logs*/
parmigiano-expr/src/seed_gene_results/
parmigiano-expr/src/seed_genes*/
parmigiano-expr/src/200genes*/
parmigiano-expr/src/scaling/experiments/
parmigiano-expr/src/random.ipynb
parmigiano-expr/src/topgenes*
parmigiano-expr/src/diagnostics*/
